<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Province Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/Style.css}" />
    <link rel="stylesheet" th:href="@{/css/TableStyle.css}" />
</head>
<body>
    <header>
        <!-- Include navbar and sidebar fragments -->
        <div th:replace="fragments/navbar :: navbar"></div>
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <h1>All Provinces</h1>
    </header>

    <main>
        <section>
			<div class="user-actions">
			  <a class="btn btn-add" th:href="@{/province/add}">
			    <i class="fa fa-plus-circle"></i> Add New Province
			  </a>

			  <a class="btn btn-export" th:href="@{/province/export}">
			    <i class="fa fa-file-excel"></i> Export to Excel
			  </a>

			  <form th:action="@{/province/all}" method="get" class="search-form">
			    <input type="text" name="keyword" placeholder="Search provinces..." th:value="${keyword}" />
			    <button type="submit"><i class="fa fa-search"></i></button>
			  </form>
			</div>


            <table>
                <thead>
                    <tr>
                        <th>Province Code</th>
                        <th>Province Name</th>
                        <th>Province Address</th>
                        <th>Head Office COde</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="province : ${provinces}">
                        <td th:text="${province.provinceCode}"></td>
                        <td th:text="${province.provinceName}"></td>
                        <td th:text="${province.provinceAddress}"></td>
						<td th:text="${province.headOfficeCode}"></td>
                        <td>
                            <a th:href="@{/province/edit/{id}(id=${province.provinceCode})}" 
                               class="action-btn edit-btn" title="Edit Province">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a th:href="@{/province/confirm-delete/{id}(id=${province.provinceCode})}" 
                               class="action-btn delete-btn" title="Delete Province">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    <script th:src="@{/js/script.js}"></script>
</body>
</html>
